2021.07.28.09.25.50
*.pdf
*.png
CMakeCache.txt
CMakeFiles
cmake_install.cmake
convertToPDF.py
Debug
df.png
e
e.cpp
example
he
he.cpp
hello.cc
hello.jpg.pdf
hello.py
he.py
image.pdf
imageToPdf
Lmao.pdf
lma.pdf
Makefile
podofo
podofo-build
print.cc
ScannedImages
simple
thumbnails
w.cpp
what.cpp
.cache
.vim
*.jpeg
int.cpp
image
a.out
compile_commands.json
